<%- include('partials/top.ejs')              %>

<%- include('partials/header.ejs')           %>
    <h2>Welcome From Contact Page Using Ejs Template !!!</h2>

    <div id="left"></div>

    <div id="right"></div>
    <%- include('partials/footer.ejs')           %>
   